<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smarket</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/style.css">
    <!-- ICON -->
    <link rel="shortcut icon" href="../images/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../images/favicon/favicon.ico" type="image/x-icon">
</head>

<body>
    <section class="h-100 w-100" style="
				box-sizing: border-box;
				position: relative;
				background-color: #FAFCFF;
			">
        <div class="header-3-3 container-xxl mx-auto p-0 position-relative" style="font-family: 'Poppins', sans-serif">
            <!-- NAVBAR -->
            <nav class="navbar navbar-expand-lg navbar-light">
                <a href="home.html" class="text-decoration-none d-flex justify-content-center align-items-center">
                    <img width="50" src="../images/logo.svg" alt="">
                    <p class="my-3">Smarket</p>
                </a>
                <button class="navbar-toggler border-0" type="button" data-bs-toggle="modal" data-bs-target="#targetModal-item">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="collapse navbar-collapse" id="navbarTogglerDemo">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item position-relative">
                            <a class="nav-link" href="home.html">Home</a>
                        </li>
                        <li class="nav-item active position-relative">
                            <a class="nav-link" style="color: #243142;" href="about.html">About</a>
                        </li>
                        <li class="nav-item position-relative">
                            <a class="nav-link" href="product.html">Product</a>
                        </li>
                        <li class="nav-item position-relative">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="hr">
                <hr style="
							border-color: #F4F4F4;
							background-color: #F4F4F4;
							opacity: 1;
							margin: 0 !important;
						" />
            </div>
        </div>
    </section>

    <section class="h-100 w-100 mt-5 header-3-3 container-xxl mx-auto p-0">
        <h1 class="title-text-big">
            About<br class="d-lg-block d-none" />
        </h1>
        <p class="" style="text-align: justify; font-size: 18px;">
            Berawal dari pemikiran untuk mempermudah penyediaan kebutuhan pokok sehari-hari karyawan, maka pada tahun 1988 didirikanlah sebuah gerai yang diberi nama Indomaret. Sejalan pengembangan operasional toko, perusahaan tertarik untuk lebih mendalami dan memahami
            berbagai kebutuhan dan perilaku konsumen dalam berbelanja. Guna mengakomodasi tujuan tersebut, beberapa orang karyawan ditugaskan untuk mengamati dan meneliti perilaku belanja masyarakat. Kesimpulan yang didapat adalah bahwa masyarakat cenderung
            memilih belanja di gerai modern berdasarkan alasan kelengkapan pilihan produk yang berkualitas, harga yang pasti dan bersaing, serta suasana yang nyaman. Berbekal pengetahuan mengenai kebutuhan konsumen, keterampilan pengoperasian toko dan
            pergeseran perilaku belanja masyarakat ke gerai modern, maka terbit keinginan luhur untuk mengabdi lebih jauh bagi nusa dan bangsa. Niat ini diwujudkan dengan mendirikan Indomaret, dengan badan hukum PT. Indomarco Prismatama yang memiliki
            visi “menjadi jaringan ritel yang unggul” serta moto “mudah dan hemat”.
            <br>
            <br> Pada mulanya Indomaret membentuk konsep penyelenggaraan gerai yang berlokasi di dekat hunian konsumen, menyediakan berbagai kebutuhan pokok maupun kebutuhan sehari- hari, melayani masyarakat umum yang bersifat majemuk, serta memiliki
            luas toko sekitar 200 m2. Seiring dengan perjalanan waktu dan kebutuhan pasar, Indomaret terus menambah gerai di berbagai kawasan perumahan, perkantoran, niaga, wisata dan apartemen. Dalam hal ini terjadilah proses pembelajaran untuk pengoperasian
            suatu jaringan retail yang berskala besar, lengkap dengan berbagai pengalaman yang kompleks dan bervariasi. Setelah menguasai pengetahuan dan keterampilan mengoperasikan jaringan ritel dalam skala besar, Manajemen berkomitmen untuk menjadikan
            Indomaret sebagai sebuah aset nasional. Hal ini tidak terlepas dari kenyataan bahwa seluruh pemikiran dan pengoperasian Perusahaan ditangani sepenuhnya oleh putra putri Indonesia. Sebagai aset nasional, Indomaret ingin berbagi kepada masyarakat
            Indonesia melalui bisnis waralaba dan juga mampu bersaing dalam persaingan global. Oleh karena itu, visi perusahaan kemudian berkembang “menjadi aset nasional dalam bentuk jaringan ritel waralaba yang unggul dalam persaingan global”. Konsep
            bisnis waralaba Indomaret adalah yang pertama dan merupakan pelopor di bidang minimarket di Indonesia. Sambutan masyarakat ternyata sangat positif, terbukti dengan peningkatan jumlah Terwaralaba Indomaret dari waktu ke waktu.
            <br>
            <br> Konsep bisnis waralaba Perusahaan juga diakui oleh pemerintah melalui penghargaan yang diberikan kepada Indomaret selaku “Perusahaan Waralaba Unggul 2003”. Penghargaan semacam ini adalah yang pertama kali diberikan kepada perusahaan minimarket
            di Indonesia dan sampai saat ini hanya Indomaret yang menerimanya. Indomaret berkembang sangat pesat dengan jumlah gerai toko pada Maret 2022 19.891. Sebagian besar pasokan barang dagangan untuk seluruh gerai berasal dari 42 pusat distribusi
            Indomaret yang menyediakan lebih dari 5.000 jenis produk. Kini, keberadaan Indomaret makin diperkuat dengan kehadiran Indogrosir, anak perusahaan dengan konsep bisnis Pusat Perkulakan.
        </p>
    </section>
    <br>
    <!-- FOOTER: START -->
    <footer class="section-footer h-100 w-100 mt-5 header-3-3 container-xxl mx-auto p-0">

        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="collapse navbar-collapse" id="navbarTogglerDemo">
                <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
                    <li class="nav-item position-relative">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item position-relative">
                        <a class="nav-link" href="product.html">Product</a>
                    </li>
                    <li class="nav-item position-relative">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>

        <p class="copyright text-center">2022 Copyright Smarket - All Right Reserved <br> Universitas Bina Sarana Informatika</p>
    </footer>
    <!-- FOOTER: END -->
</body>

</html>