<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smarket</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/style.css">
    <!-- ICON -->
    <link rel="shortcut icon" href="../images/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../images/favicon/favicon.ico" type="image/x-icon">
</head>

<body>
    <section class="h-100 w-100" style="
				box-sizing: border-box;
				position: relative;
				background-color: #FAFCFF;
			">
        <div class="header-3-3 container-xxl mx-auto p-0 position-relative" style="font-family: 'Poppins', sans-serif">
            <!-- NAVBAR -->
            <nav class="navbar navbar-expand-lg navbar-light">
                <a href="home.html" class="text-decoration-none d-flex justify-content-center align-items-center">
                    <img width="50" src="../images/logo.svg" alt=""/>
                    <p class="my-3">Smarket</p>
                </a>
                <button class="navbar-toggler border-0" type="button" data-bs-toggle="modal" data-bs-target="#targetModal-item">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="collapse navbar-collapse" id="navbarTogglerDemo">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item position-relative">
                            <a class="nav-link" href="home.html">Home</a>
                        </li>
                        <li class="nav-item position-relative">
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item active position-relative">
                            <a class="nav-link" style="color: #243142;" href="product.html">Product</a>
                        </li>
                        <li class="nav-item position-relative">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="hr">
                <hr style="
							border-color: #F4F4F4;
							background-color: #F4F4F4;
							opacity: 1;
							margin: 0 !important;
						" />
            </div>
        </div>
    </section>

    <!-- PROMO&PROGRAM: START -->
    <section class="h-100 w-100 mt-5 header-3-3 container-xxl mx-auto p-0">
        <div class="d-flex justify-content-between align-items-start hero">
            <!-- Left Column -->
            <div class="left-column flex-lg-grow-1 d-flex flex-column align-items-lg-start text-lg-start align-items-center text-center">
                <h1 class="title-text-big">
                    Product<br class="d-lg-block d-none" />
                </h1>
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img width="500" src="../images/p1.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img width="500" src="../images/p2.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img width="500" src="../images/p3.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img width="500" src="../images/p4.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img width="500" src="../images/p5.png" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

            <!-- Right Column -->
            <!-- <div class="right-column d-flex justify-content-center justify-content-lg-start text-center">

            </div> -->
            <!--  -->
        </div>
    </section>
    <!-- PROMO&PROGRAM: END -->

    <!-- FOOTER: START -->
    <footer class="section-footer h-100 w-100 mt-5 header-3-3 container-xxl mx-auto p-0">

        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="collapse navbar-collapse" id="navbarTogglerDemo">
                <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
                    <li class="nav-item position-relative">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item position-relative">
                        <a class="nav-link" href="product.html">Product</a>
                    </li>
                    <li class="nav-item position-relative">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>

        <p class="copyright text-center">2022 Copyright Smarket - All Right Reserved <br> Universitas Bina Sarana Informatika</p>
    </footer>
    <!-- FOOTER: END -->

    <!-- script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>

</html>